
<div class='card'>
  <div class='card-header'>
    <h4>Profile</h4>
  </div>

  <div class='col-md-4' style="float:left;">
    <img class='center-block img-responsive'
         [style.width.px]='200'
         [style.margin.px]='2'
         [src]='img'
         [title]=''>
  </div>


  <div  class='card-body'>
  <div class='row'>
   <div class='col-md-8'>
     <div class='row'>
       <div class='col-md-4'>Name:</div>
       <div class='col-md-8'>{{this.Employee.name}}</div>
     </div>
     <div class='row'>
       <div class='col-md-4'>Email:</div>
       <div class='col-md-8'>{{this.Employee.email}}</div>
     </div>
    <div class='row'>
      <div class='col-md-4'>Date of joining:</div>
      <div class='col-md-8'>{{this.Employee.doj}}</div>
    </div>
    <div class='row'>
      <div class='col-md-4'>Date of Birth:</div>
      <div class='col-md-8'>{{this.Employee.dob}}</div>
    </div>
    <div class='row'>
      <div class='col-md-4'>Salary:</div>
      <div class='col-md-8'>{{this.Employee.salary}}</div>
    </div>
    <div class='row'>
      <div class='col-md-4'>Password:</div>
      <div class='col-md-8'>{{this.Employee.password}}</div>
    </div>


     <div class='row'>

   </div>


    </div>
  </div>


  </div>
  <div>



