
table{

  width: 60%;
  margin-left: 20%;
  text-align: center;

}
th{
  background-color:rgb(65, 107, 107);
  color: azure;
  height: 5px;

}

thead{
  height: 10px;
}

td{
  border: solid lightgrey 1px;;

}
