<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'></a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link'[routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
    <li><a class='nav-link'[routerLink]="['/employee']" routerLinkActive="router-link-active" >Employee List</a></li>
    <li><a class='nav-link'[routerLink]="['/add']" routerLinkActive="router-link-active" >Add Employee</a></li>
  </ul>
</nav>
<div>
<router-outlet></router-outlet>
</div>

