<div class='card'>
  <div class='card-header'>
    <h4>Leave Configuration</h4>
  </div>
  <hr>
  <div class="form-group row">
    <a class="btn btn-primary" [routerLink]="['Addleave']" routerLinkActive="router-link-active"  style="margin-left:90%;">Add Leave</a>


 </div>
 <hr>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Leave name</th>
      <th scope="col">No of days</th>
      <th scope="col">Action</th>

    </tr>
    <tr *ngFor="let leave of Leavelist">
      <td>{{leave.name}}</td>
      <td>{{leave.maxallowed}}</td>
      <td><a [routerLink]="['Edit',leave.id]" routerLinkActive="router-link-active"  role="button"><i style="color: darkgreen;font-size: 30px;" class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a role="button"><i style="color: red;font-size: 30px;" class="fa fa-trash" (click)="Delete(leave)"></i></a></td>
    </tr>
  </thead>
