/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.bgrnd {
    background-color: #92fcef;
    height: 200px;
    width: 550px;
    border-radius: 50px;
    position: absolute;
}

.button {
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 100px;
    border: solid white 1px;
}

button {
    margin-left: 20px;
    width: 75px;
    background: white;
    border-radius: 100px;
    border: solid white 1px;
}

#like:hover {
    background: #ff8a8a;
}

#lke:visited {
    background: #ff8a8a;
}

#comment:hover {
    background-color: #e789f0;
}

#share:hover {
    background-color: #79e888;
}

.post {
    border: solid purple 1.5px;
     position: relative;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50px;
}

a{
    margin-left:15px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    button.accept-policy {
        font-size: 1rem;
        line-height: inherit;
    }

    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px; /* Vertically center the text there */
    }
}